{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulocentral">{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}" media="screen">
    {% block style %} {% endblock %}
    <link rel="icon" href="{% static 'img/7c7f1a5b-da13-489a-a3e0-4d5487422a25.png' %}">
</head>

<body>

    <header id="header" class="">
        <nav class="navbar navbar-expand-lg nav-principal">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo-nav.png' %}" alt="Logo do site" width="120px"
                        class="d-inline-block align-text-top logo">
                </a>

                <button class="navbar-toggler navbar-light hamburguer" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid barra-navegacao">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse row align-items-baseline ">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-xl-8 col-lg-7 justify-content-between">
                            <li class="nav-item col-xl-3 col-lg-1 active">
                                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Início</a>
                            </li>
                            <li class="nav-item col-xl-3 col-lg-1">
                                <a class="nav-link" href="{% url 'motos' %}">Motos</a>
                            </li>
                            <li class="nav-item col-xl-3 col-lg-1">
                                <a class="nav-link " href="{% block sobre %}{% endblock %}">Sobre</a>
                            </li>
                            <li class="nav-item col-xl-3 col-lg-1">
                                <a class="nav-link contatin" href="{% block contato %}{% endblock %}">Contato</a>
                            </li>
                        </ul>
                        <form action="{% url 'motos' %}" method="GET" class="form-1 d-flex col-xl-4 col-lg-4">
                            <input id="search" value="{{ request.GET.search }}" name="search" autocomplete="off"
                                class="form-control pesquisar" type="text" placeholder="Pesquisar modelo">

                            <!-- <i> <img class="icone-pesquisar" width="34px" src="{% static 'img/pesquisar.svg' %}"
                                    alt=""></i> -->
                            <!-- <button><img width="34px" src="{% static 'img/pesquisar.svg' %}" alt=""></button> -->
                        </form>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    {% block main %}


    {% endblock %}

    <footer>
        <section class="footer1 container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-md-5 delegado">

                    <h4>Delegado Motos</h4>
                    <div class="conteudo-footer">
                        <p>Av. Independência, N° 106 Centro. Pau dos Ferros - RN, 59900-000 - Brasil</p>

                        <p class="delegadoInfo"> Telefones:</p>
                        <div>
                            <p>(84) 99648-9327</p>
                            <p>(84) 99865-4469!</p>
                        </div>


                        <p class="delegadoInfo"> Email:</p>
                        <p>delegadoveiculos@gmail.com</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-5  redes-sociais">

                    <h4>Redes sociais</h4>
                    <div class="conteudo-footer">
                        <div class="d-flex justify-content-start">

                            <a target="_blank" href="https://instagram.com/delegadomotos?igshid=YmMyMTA2M2Y="><svg
                                    xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none"
                                    viewBox="0 0 52 52">
                                    <path class="" fill="#DBA009"
                                        d="M30.598 22.66a5.681 5.681 0 0 0-4.619-2.392 5.682 5.682 0 0 0-4.618 2.392A5.859 5.859 0 0 0 20.289 26a5.702 5.702 0 0 0 5.69 5.69A5.702 5.702 0 0 0 31.67 26a5.859 5.859 0 0 0-1.072-3.34Z" />
                                    <path fill="#DBA009"
                                        d="M34.186 22.7c.412.826.66 2.145.66 3.3 0 4.866-3.96 8.866-8.867 8.866A8.852 8.852 0 0 1 17.113 26c0-1.196.248-2.474.66-3.3h-4.99v13.238c0 1.732 1.526 3.258 3.258 3.258h19.876c1.733 0 3.258-1.526 3.258-3.258V22.701h-4.99Zm3.504-9.154h-4.783v5.485h5.444v-5.526l-.66.041Z" />
                                    <path fill="#DBA009"
                                        d="M38.928.02H13.03C5.856.02 0 5.877 0 13.052V38.99c0 7.134 5.856 12.99 13.03 12.99h25.94c7.174 0 13.03-5.856 13.03-13.032V13.051C51.959 5.876 46.103.021 38.928.021Zm3.134 22.64v13.278c0 3.464-2.68 6.144-6.145 6.144H16.041c-3.464 0-6.144-2.68-6.144-6.144V16.062c0-3.464 2.68-6.145 6.144-6.145h19.876c3.464 0 6.145 2.68 6.145 6.145v6.598Z" />

                                </svg>


                            </a>
                            <a target="_blank" href="https://www.facebook.com/atalo.ian.1"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none"
                                    viewBox="0 0 52 52">
                                    <path fill="#DBA009"
                                        d="M44.992 0H7.008A7.007 7.007 0 0 0 0 7.007v37.986A7.007 7.007 0 0 0 7.007 52h18.734l.032-18.582h-4.827a1.139 1.139 0 0 1-1.14-1.135l-.022-5.99a1.14 1.14 0 0 1 1.139-1.143h4.819v-5.788c0-6.716 4.101-10.373 10.093-10.373h4.916c.63 0 1.14.51 1.14 1.139v5.05a1.14 1.14 0 0 1-1.139 1.14l-3.017.001c-3.258 0-3.89 1.548-3.89 3.82v5.011h7.16c.683 0 1.212.596 1.131 1.273l-.71 5.99a1.14 1.14 0 0 1-1.13 1.005h-6.418L33.846 52h11.147A7.007 7.007 0 0 0 52 44.993V7.007A7.007 7.007 0 0 0 44.992 0Z" />
                                </svg>

                            </a>
                            <a target="_blank"
                                href="https://wa.me/5584996489327?text=Ol%C3%A1%21+Vim+pelo+site+da+Delegado+Motos+e+estou+afim+de+saber+a+respeito+de+um+modelo."><svg
                                    xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none"
                                    viewBox="0 0 53 53">
                                    <path fill="#DBA009"
                                        d="M26.773 12.546c-7.523 0-13.618 6.052-13.618 13.534 0 2.942.967 5.716 2.606 7.943l-1.723 5.044 5.254-1.681c2.143 1.429 4.75 2.227 7.523 2.227 7.524 0 13.66-6.052 13.66-13.533-.042-7.482-6.178-13.534-13.702-13.534ZM34.76 31.67c-.336.924-1.976 1.807-2.69 1.891-.715.084-.715.588-4.791-.967-4.035-1.597-6.6-5.674-6.81-5.968-.21-.252-1.639-2.143-1.639-4.077 0-1.933 1.01-2.9 1.387-3.278.379-.379.8-.505 1.051-.505.252 0 .547.042.757.042.252 0 .546-.126.882.673.337.798 1.135 2.732 1.22 2.942.083.21.167.42.041.673-.126.252-.21.42-.378.672-.21.21-.42.504-.588.672-.21.21-.42.42-.169.799.253.378 1.051 1.681 2.228 2.732 1.513 1.345 2.816 1.765 3.194 1.975.379.21.63.168.841-.084.252-.252 1.009-1.134 1.26-1.555.253-.378.547-.336.884-.21.378.126 2.311 1.093 2.731 1.303.379.21.673.294.757.462.126.084.126.883-.168 1.808Z" />
                                    <path fill="#DBA009"
                                        d="M39.676.021H13.281C5.969.021 0 5.989 0 13.303v26.436c0 7.272 5.968 13.24 13.281 13.24h26.437C47.032 52.979 53 47.011 53 39.697V13.302C52.958 5.99 46.99.022 39.676.022ZM26.773 42.177c-2.858 0-5.506-.714-7.86-2.017L9.92 43.018l2.942-8.616a16.082 16.082 0 0 1-2.311-8.322c0-8.91 7.27-16.098 16.223-16.098S42.997 17.17 42.997 26.08s-7.271 16.097-16.224 16.097Z" />
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-12 links">
                    <h4>Links</h4>
                    <div class="conteudo-footer">
                        <ul>
                            <li>
                                <a href="{% url 'index' %}"> <img src="{% static 'img/up-arrow-svgrepo-com 5.svg' %}"
                                        alt="seta apontando para o link">
                                    <span> Início</span></a>
                            </li>
                            <li>
                                <a href="{% url 'motos' %}"> <img src="{% static 'img/up-arrow-svgrepo-com 5.svg' %}"
                                        alt="seta apontando para o link">
                                    <span>Motos</span></a>
                            </li>
                            <li>
                                <a href="{% block fotsobre %}{% endblock %}"> <img
                                        src="{% static 'img/up-arrow-svgrepo-com 5.svg' %}"
                                        alt="seta apontando para o link">
                                    <span>Sobre</span></a>
                            </li>
                            <li>
                                <a href="{% block fotcontato %}{% endblock %}"> <img
                                        src="{% static 'img/up-arrow-svgrepo-com 5.svg' %}"
                                        alt="seta apontando para o link">
                                    <span>Contato</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer2 container-fluid">
            <div class="row">
                <div class="col-12 flex">
                    <div class="flex">
                        <img class="img-fluid" src="{% static 'img/logo-footer.png' %}" width="280px"
                            alt="logo do site">

                        <p>“Impossível não comprar no Delegado Motos”</p>
                    </div>
                    <div>
                        <p>© Copyright Delegado Motos. Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <a href="#" class="back-to-top">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 300.003 300.003" style="enable-background:new 0 0 300.003 300.003;"
            xml:space="preserve">
            <g>
                <g>
                    <path
                        d="M150,0C67.159,0,0.001,67.159,0.001,150c0,82.838,67.157,150.003,149.997,150.003S300.002,232.838,300.002,150
                    C300.002,67.159,232.842,0,150,0z M217.685,189.794c-5.47,5.467-14.338,5.47-19.81,0l-48.26-48.27l-48.522,48.516
                    c-5.467,5.467-14.338,5.47-19.81,0c-2.731-2.739-4.098-6.321-4.098-9.905s1.367-7.166,4.103-9.897l56.292-56.297
                    c0.539-0.838,1.157-1.637,1.888-2.368c2.796-2.796,6.476-4.142,10.146-4.077c3.662-0.062,7.348,1.281,10.141,4.08
                    c0.734,0.729,1.349,1.528,1.886,2.365l56.043,56.043C223.152,175.454,223.156,184.322,217.685,189.794z" />
                </g>
            </g>

        </svg></a>


    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

</body>

</html>