{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load mathfilters %}
{% load humanize %}

{% block title%} Delegado Motos {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block sobre %} #link-sobre {% endblock %}
{% block contato %} #link-contato {% endblock %}


{% block main %}
<main>
    <section class="principal container-fluid">
        <section class="row d-flex justify-content-between">
            <div class="col-xl-6 col-lg-12 tituloinicial">
                <div>
                    <h1>Delegado Motos</h1>

                    <p class="compra">COMPRA, VENDE E TROCA</p>
                    <p>“Impossível não comprar no Delegado Motos”</p>
                    <a href="{% url 'motos' %}">
                        <button type="button" class="btn bt-comprar">Comprar</button>
                    </a>
                </div>
            </div>

            <div class="col-xl-5 col-lg-10 col-md-8 col-sm-8 carrosel-padding">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/cliente1.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cliente2.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cliente3.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cliente4.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cliente5.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/cliente6.jpeg' %}" class="d-block w-100" alt="Imagem dos clietes">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p class="legenda-carrosel d-flex justify-content-center">Alguns dos nossos clientes</p>

            </div>
        </section>

    </section>
    <section class="motos-principal">
        <section class="addrecente">
            <h3>Adicionados recentementes</h3>
            <div class="container">
                <div class="row">
                    {% for moto in add_recente %}
                    <div class="cartao col-xl-3 col-lg-4 col-md-4 col-sm-6 col-8">
                        <a class="" href="{% url 'detalhes' moto.id %}">
                            <div class="card-moto">
                                <p class="marca">{{ moto.marca }}</p>
                                <p class="modelo">{{ moto.modelo }} {{ moto.cilindradas }}c</p>

                                <center>
                                    <img class="img-fluid img-card" src="/media/{{ moto.imagens.imagem_sem_fundo }}"
                                        alt="">
                                </center>

                                <p class="valor">Por R$ {{ moto.preco|intcomma  }}</p>
                                <p class="vista">à vista <span>(com de desconto)</span></p>
                                <p class="prazo">ou 18x de R$ {{ moto.preco|mul:1.025|div:18|floatformat:2 }} com juros
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>

        <section class="maispro">
            <h3>Motos mais baratas</h3>
            <div class="container">
                <div class="row">
                    {% for moto in menor_preco %}
                    <div class="cartao col-xl-3 col-lg-4 col-md-4 col-sm-6 col-8">
                        <a class="" href="{% url 'detalhes' moto.id %}">
                            <div class="card-moto">
                                <p class="marca">{{ moto.marca }}</p>
                                <p class="modelo">{{ moto.modelo }} {{ moto.cilindradas }}c</p>

                                <center>
                                    <img class="img-fluid img-card" src="/media/{{ moto.imagens.imagem_sem_fundo }}"
                                        alt="">
                                </center>

                                <p class="valor">Por R$ {{ valor_total }}</p>
                                <p class="vista">à vista <span>(com de desconto)</span></p>
                                <p class="prazo">ou 18x de R$ {{ valor_parcela }} com juros</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
    </section>
    <section data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" id="link-sobre" class="sobre">
        <div class="titulos">
            <h2>Sobre</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <img src="{% static 'img/sobre.jpeg' %}" class="img-fluid" alt="fachada da empresa Delegado Motos">
                    <p class="legenda-sobre d-flex justify-content-center">Fachada da Delegado Motos</p>
                </div>
                <div class="col-xl-6 col-md-12 texto">
                    <p>Na busca do meu primeiro empreedimento, decidi investir o pouco capital que possuía em
                        uma moto para
                        revenda. Iniciou-se assim a empresa Delegado Motos, no qual usei meu apelido para nomeá-la.
                    </p>

                    <p id="segundo">Aos poucos fomos crescendo e ganhando visibilidade na região alto oeste
                        potiguar.
                        Atualmente, contamos
                        com funcionários, mais de vinte motos e alguns carros para escolha dos nossos clientes.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="link-contato" class="section-contact container-fluid">
        <div class="titulos">
            <h2>Fale conosco</h2>
        </div>
        <div class="row d-flex justify-content-evenly">

            <section class="fale-conosco col-xl-4 col-lg-5 col-md-7 col-sm-7 col-8">

                {% if messages %}
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}


                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px"
                        viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                        <path d="M26,2C12.7,2,2,12.7,2,26s10.7,24,24,24s24-10.7,24-24S39.3,2,26,2z M39.4,20L24.1,35.5
                   c-0.6,0.6-1.6,0.6-2.2,0L13.5,27c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2c0.6-0.6,1.6-0.6,2.2,0l4.4,4.5c0.4,0.4,1.1,0.4,1.5,0L35,15.5
                   c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C40.1,18.3,40.1,19.3,39.4,20z" />
                    </svg>

                </div>
                {% endfor %}
                {% endif %}

                <form action="#link-contato" method="post" autocomplete="off">

                    {% csrf_token %}
                    {{ form }}

                    <button type="submit" class="bt-enviar">Enviar mensagem</button>

                </form>

            </section>

            <section class="col-xl-4 col-lg-5 col-md-7 col-sm-7 col-8 mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.7987482174137!2d-38.20688051185376!3d-6.104424666222025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbf9fc929b57a90e!2zNsKwMDYnMTUuOSJTIDM4wrAxMicyMi44Ilc!5e0!3m2!1spt-BR!2sbr!4v1656964368214!5m2!1spt-BR!2sbr"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </section>

        </div>
    </section>


</main>
{% endblock %}